.our-form {
  font-family: 'ITC';
  margin: 0 auto;
  background-color: #0F063D;
  padding: 100px 0;
}

.our-form .form-frame {
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-form .form-frame #map {
  margin: 0;
  margin-right: 30px;
  width: 650px;
  height: 500px;
  border-radius: 5px;
}

.our-form .form-frame .form {
  margin: 0;
  font-size: 12px;
  max-width: 350px;
}

.our-form .form-frame .form .title {
  color: #FFFFFF;
  font-size: 30px;
  margin: 0;
  margin-bottom: 12px;
}

.our-form .form-frame .form .subtitle {
  color: gray;
  font-size: 12px;
  margin-bottom: 12px;
}

.our-form .form-frame .form label {
  color: #FFFFFF;
  display: block;
  margin: 0;
  margin-bottom: 12px;
}

.our-form .form-frame .form input {
  margin: 0;
  margin-bottom: 12px;
  height: 40px;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  outline: none;
}

.our-form .form-frame .form .client-id {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-form .form-frame .form .client-id .name {
  max-width: 175px;
  margin: 0;
}

.our-form .form-frame .form .client-id .surname {
  text-align: end;
  max-width: 175px;
  margin: 0;
}

.our-form .form-frame .form .client-id .surname label {
  text-align: start;
  margin-left: 20px;
}

.our-form .form-frame .form .client-id input {
  max-width: 90%;
}

.our-form .form-frame .form .email input {
  width: 100%;
}

.our-form .form-frame .form .message textarea {
  width: 100%;
  padding: 20px 0 0 20px;
  margin: 0;
  margin-bottom: 22px;
  border-radius: 5px;
}

.our-form .form-frame .form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-form .form-frame .form .submit .error {
  color: red;
  padding: 12px 35px;
  background-color: #d2a8a8;
  display: none;
}

.our-form .form-frame .form button {
  color: white;
  background-color: #17105F;
  padding: 12px 35px;
  border-radius: 5px;
  border: none;
}

.our-form .form-frame .form button:hover {
  border: 2px solid white;
  padding: 10px 33px;
  background-color: transparent;
}

.our-form .form-frame .form button:active {
  background-color: #17105F;
}

.our-form .invalid {
  background-color: #d2a8a8;
  border: 1px solid #ff0000;
}

.our-form .valid {
  background-color: #a8d2ae;
  border: 1px solid #00ff00;
}

@media (max-width: 1300px) {
  .our-form .form-frame {
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .our-form .form-frame {
    max-width: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our-form .form-frame #map {
    margin: 0 auto;
  }
  .our-form .form-frame .form {
    margin: 0 auto;
  }
  .our-form .form-frame .submit {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .our-form .form-frame {
    max-width: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our-form .form-frame #map {
    margin: 0 auto;
    width: 450px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .our-form .form-frame {
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our-form .form-frame #map {
    width: 300px;
    height: 200px;
  }
  .our-form .form-frame .form {
    margin: 0 auto;
  }
  .our-form .form-frame .form .submit {
    text-align: center;
    margin-bottom: 20px;
  }
  .our-form .form-frame .form .client-id {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-form .form-frame .form .client-id .name {
    max-width: 300px;
  }
  .our-form .form-frame .form .client-id .name input {
    width: 100%;
  }
  .our-form .form-frame .form .client-id .surname {
    max-width: 300px;
  }
  .our-form .form-frame .form .client-id .surname input {
    width: 100%;
  }
  .our-form .form-frame .form .client-id .surname label {
    margin: 0;
  }
  .our-form .form-frame .form .client-id input {
    max-width: 100%;
  }
}
/*# sourceMappingURL=form.css.map */