header{
    position: relative;
    z-index: 0;
    background: linear-gradient(0deg, #0F1B67 0%, #000029 100%);
    .menu{
        font-family: ('FiraSans');
        max-width: 1600px;
        padding: 50px 225px 130px 225px;
        display: flex;
        justify-content: space-between;
        .burger-frame{
            margin: 0;
            align-self: center;
            .burger{
                display: none;
                width: 40px;
                height: 40px;
                border: 2px solid #49C4F0;
                border-radius: 25px;
            }
        }
        .nav{
            align-self: center;
            margin: 0;
            a{
                text-decoration: none;
                color: #FFFFFF;
                opacity: 0.7;
                margin: 0 40px 0 40px;
                font-size: 16px;
                
            }
            a:hover{
                color: #49C4F0;
                border-bottom: 2px solid #49C4F0;
            }
        }
        .menu-button{
            margin: 0;
            .get-btn{
                margin: 0;
                width: 147px;
                height: 56px;
                background: #49C4F0;
                border-radius: 5px;
                border: none;
                color: #000B0F;
                font-size: 16px;
            }
        }
        .get-btn:hover{
            background-color: rgba(0, 0, 0, 0);
            color: #FFFFFF;
            opacity: 0.7;
            border: 2px solid #49C4F0;
            cursor: pointer;
        }
        .get-btn:active{
            background: #49C4F0;
            color: #000B0F;
        }
    }
    .header-slider{
        max-width: 1600px;
        margin: 0 auto;
        .slider-title{
            font-family: 'ITC';
            font-size: 50px;
            font-weight: bold;
            color: #FFFFFF;
            max-width: 840px;
            margin-bottom: 40px;
        }
        .slider{
            .slick-list{
                overflow: hidden;
                .slick-track{
                    display: flex;
                }
            }
            .slick-dots{
                padding: 10px 0 40px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    list-style: none;
                    margin: 0 5px;
                    button{
                        font-size: 0;
                        width: 150px;
                        height: 10px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        background-color: #49C4F0;
                    }
                }
                .slick-active{
                    button{
                        background-color: transparent;
                        border: 2px solid #49C4F0;
                    }
                }
            }
            .slider-item{
                text-align: center;
                img{
                    margin: 0 auto;
                    width: 1000px;
                    height: 600px;
                }
            }    
        }
    }
    .substrate-block{
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 1068px;
        .medium-block{
            margin: 0 auto;
            width: 150px;
            height: inherit;
            background: linear-gradient(0deg, #ff00c82d 27.28%, rgba(33, 108, 220, 0) 87.61%);
            .line{
                margin: 0 auto;
                width: 34px;
                height: inherit;
                background: linear-gradient(0deg, #ff00c836 43.45%, rgba(33, 108, 220, 0) 87.61%);
            }
        }
        .small-block{
            margin: 0 auto;
            width: 100px;
            height: 1073px;
            margin: 0 auto;
            width: 160px;
            height: inherit;
            background: linear-gradient(0deg, #ff00c82d 27.28%, rgba(33, 108, 220, 0) 87.61%);
            .line{
                margin: 0 auto;
                width: 40px;
                height: inherit;
                background: linear-gradient(0deg, #ff00c836 43.45%, rgba(33, 108, 220, 0) 87.61%);
            }
        }
        .big-block{
            margin: 0 auto;
            width: 300px;
            height: inherit;
            background: linear-gradient(0deg, #ff00c82d 27.28%, rgba(33, 108, 220, 0) 87.61%);
            .line{
                margin: 0 auto;
                margin-right: 50px;
                width: 100px;
                height: inherit;
                background: linear-gradient(0deg, #ff00c836 43.45%, rgba(33, 108, 220, 0) 87.61%);
            }
        }
    }
}

@media (max-width: 1300px){
    header{
        .menu{
            padding: 50px 100px 130px 100px;
        }
        .header-slider{
            .slider{
                .slider-item{
                    img{
                        width: 800px;
                        height: 450px; 
                    }
                }
            }
        }
        .substrate-block{
            height: 922px;
            .medium-block{
                display: none;
            }
        }
    }
}
@media (max-width: 1024px){
    header{
        .menu{
            padding: 50px 50px 130px 50px;
            .nav{
                a{
                    margin: 0 10px 0 10px;
                }
            }
        }
        .header-slider{
            max-width: 700px;
            .slider-title{
                max-width: 600px;
                font-size: 60px;
                text-align: center;
            }
            .slider{
                .slider-item{
                    img{
                        width: 700px;
                        height: 450px;
                    }
                } 
            }
        }
        .substrate-block{
            height: 1014px;
            .medium-block{
                display: none;
            }
        }
    }
}
@media (max-width: 768px){
    header{
        .menu{
            flex-direction: column;
            padding: 50px 100px 80px 100px;
            .burger-frame{
                .logo{
                    padding-bottom: 20px;
                }
                .burger{
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                }
                .burger span,
                .burger::before,
                .burger::after{
                    left: 4px;
                    position: absolute;
                    height: 10%;
                    width: 80%;
                    transition: 0.3s;
                    background-color: #49C4F0;
                    border-radius: 15px;
                }
                .burger::before,
                .burger::after{
                content: '';
                }
                .burger::before{
                    top: 10px;
                }
                .burger::after{
                    bottom: 10px;
                }
                .burger span{
                    top: 16px;
                }
                .burger.active{
                    background-color: #49C4F0;
                    transition: 0.5s;
                }
                .burger.active span{
                    transform: rotate(-120deg) translate(-5px, -3px);
                    width: 20px;
                    background: linear-gradient(0deg, #0F1B67 0%, #000029 100%);
                }
                .burger.active::before{
                    transform: rotate(-90deg) translate(-4px, 0px);
                    background: linear-gradient(0deg, #0F1B67 0%, #000029 100%);
                }
                .burger.active::after{
                    transform: rotate(-60deg) translate(5px, 7px);
                    width: 20px;
                    background: linear-gradient(0deg, #0F1B67 0%, #000029 100%);
                }
                
            }
            .nav{
                padding: 20px 0 ;
                display: flex;
                flex-direction: column;
                text-align: center;
                display: none;
                a{
                    padding: 5px 0;
                }   
            }
            .nav.active{
                display: block;
            }
            .menu-button{
                padding-top: 20px;
                text-align: center;
            }
        }
        .header-slider{
            max-width: 550px;
            .slider-title{
                max-width: 600px;
                font-size: 40px;
                text-align: center;
            }
            .slider{
                .slider-item{
                    img{
                        width: 700px;
                        height: 400px;
                    }
                }
                .slick-dots{
                    li{
                        button{
                            width: 100px;
                        }
                    }
                }  
            }
        }
        .substrate-block{
            height: 961px;
            .medium-block{
                display: none;
            }
            .big-block{
                display: none;
            }
        }
    }
}
@media (max-width: 600px){
    header{
        .header-slider{
            max-width: 400px;
            .slider{
                .slick-dots{
                    li{
                        button{
                            width: 40px;
                            height: 5px;
                            border-radius: 5px;
                        }
                    }
                    .slick-active{
                        button{
                            background-color: transparent;
                            border: 2px solid #49C4F0;
                        }
                    }
                }
                .slider-item{
                    img{
                        width: 400px;
                        height: 250px;
                    }
                }
            }
        }
        .substrate-block{
            height: 810px;
            .medium-block{
                display: none;
            }
            .big-block{
                display: none;
            }
        }
    }
}
@media (max-width: 480px){
    header{
        .menu{
            padding: 20px 50px 50px 50px;
            .nav{
               a{
                display: block;   
                margin: 0 10px 0 10px;
               }
            }
        }
        .header-slider{
            .slider-title{
                font-size: 20px;
            }
            .slider{
                .slider-item{
                    img{
                        width: 300px;
                        height: 200px;
                    }
                }
            }
        }
        .substrate-block{
            height: 605px;
            .medium-block{
                display: none;
            }
            .small-block{
                width: 50px;
                .line{
                    width: 15px;
                }
            }
        }
    }
}

    

