.works{
    font-family: 'ITC';
    background-color: #110744;
    position: relative;
    z-index: 1;
    .title{
        padding: 100px 0 50px;
        text-align: center;
        font-size: 40px;
        color: #FFFFFF;
    }
    .works-links{
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 225px;
        text-align: end;
        height: 50px;
        a{
            margin: 0;
            margin-left: 40px;
            margin-bottom: 45px;
            text-decoration: none;
            color:#CCCCCC;
        }
        a:hover{
            color: #49C4F0;
            border-bottom: 2px solid #49C4F0;
        }
    }
    .works-gallery{
        padding-bottom: 140px;
        display: grid;
        justify-content: center;
        justify-items: stretch;
        grid-template-columns: repeat(3, minmax(0, 358px));
        grid-template-rows: repeat(2, minmax(0, 356px));
        gap: 27px 35px;
        figure{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                transition: 1s;
            }
            figcaption{
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(100%);
                transition: 1s;
                opacity: 0;
                width: 100%;
                background: linear-gradient(211.76deg, #420FAE 22.37%, rgba(66, 15, 174, 0) 318.29%);
                padding: 30px 10px 20px 30px;
                .text{
                    margin-left: 0;
                    max-width: 250px;
                    color: #FFFFFF;
                }
                .arrow-btn{
                    display: flex;
                    justify-content: flex-end;
                    a{
                        margin: 0;
                        margin-right: 5px;
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                    .arrow{
                        width: 15px;
                        height: 15px;
                        background-image: url('../img/🔹\ Icon\ Color.png');
                        margin: 0;
                    }
                }
                .arrow-btn:hover{
                    cursor: pointer;
                }
            }
        }
        figure:hover figcaption{
            transform: translateY(0px);
            opacity: 1;
        }
        figure:hover img{
            transform: scale(1.3);
        }
        .balloon{
            max-height: 763px;
            grid-row-start: 1;
            grid-row-end: 3;
        }  
        .cube{
            max-height: 366px;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2; 
            grid-column-end: 4;
            img{
                width: 100%;
            } 
        }
    }
    .team-frame{
        max-width: 1150px;
        display: flex;
        margin: 0 auto;
        padding-bottom: 140px;
        justify-content: space-between;
        .team-gallery{
            margin: 0;
            .worker{
                border: 1px solid rgba(128, 128, 128, 0.315);
                max-width: 400px;
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                padding: 19px 70px 19px 20px;
                cursor: pointer;
                transition: 1s;
                .photo{
                    margin: 0;
                    margin-right: 25px;
                    width: 70px;
                    height: 70px;
                    background-size: 70px, auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .worker-text{
                    display: none;
                }
                .patricia{
                    background-image: url('../img/photo1.png');
                }
                .virgie{
                    background-image: url('../img/photo2.png');
                }
                .tom{
                    background-image: url('../img/photo3.png');
                }
                .michael{
                    background-image: url('../img/photo4.png');
                }
                .card{
                    max-width: 180px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name{
                        margin: 0;
                        font-size: 22px;
                        color: #FFFFFF;
                    }
                    .position{
                        margin: 0;
                        font-size: 16px;
                        color: grey;
                    }
                }
            }
            .active{
                background-color: #420FAE;
            }
        }
        .about{
            max-width: 600px;
            margin: 0;
            padding: 85px 63px 140px 63px;
            border: 1px dashed rgba(128, 128, 128, 0.315);
            .icon{
                margin: 0;
                margin-bottom: 20px;
                width: 36px;
                height: 33px;
                background-image: url('../img/Vector\ \(6\).png');
            }
            .about-text{
                font-size: 22px;
                color: grey;
                opacity: 0;
            }
            .active{
                opacity: 1;
                transition: 1s;
            }
        }
    }   
    .work-first-ellipse{
        position: absolute;
        z-index: -1;
        left: 70%;
        bottom: 60%;    
        width: 300px;
        height: 300px;
        background-image: url('../img/Ellipse\ 14\ \(1\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300px auto;
        filter: blur(70px);
    }
    .work-second-ellipse{
        position: absolute;
        z-index: -1;
        left: 10%;
        bottom: 80%;
        width: 300px;
        height: 300px;
        background-image: url('../img/Ellipse\ 15\ \(1\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300px auto;
        filter: blur(70px);
    }
    .work-third-ellipse{
        position: absolute;
        z-index: -1;
        left: 10%;
        bottom: 10%;
        width: 300px;
        height: 300px;
        background-image: url('../img/Ellipse\ 15\ \(1\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300px auto;
        filter: blur(70px);    
    }
    .work-fourth-ellipse{
        position: absolute;
        z-index: -1;
        left: 70%;
        bottom: 20%;
        width: 300px;
        height: 300px;
        background-image: url('../img/Ellipse\ 15\ \(1\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300px auto;
        filter: blur(70px);
    }
}
@media (max-width: 1300px){
    .works{
        .works-links{
            text-align: center;
            padding: 0 100px;
            a{
                margin: 0 20px;
            }
        }
        .works-gallery{
            grid-template-columns: repeat(2, minmax(0, 358px));
            grid-template-rows: repeat(3, minmax(0, 356px));
            .cube{
                max-height: 366px;
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1; 
                grid-column-end: 3; 
            }
        }
        .work-first-ellipse{
            width: 200px;
            height: 200px;
            background-size: 200px auto;
        }
        .work-second-ellipse{
            width: 200px;
            height: 200px;
            background-size: 200px auto;
        }
        .work-third-ellipse{
            width: 200px;
            height: 200px;
            background-size: 200px auto;    
        }
        .work-fourth-ellipse{
            width: 200px;
            height: 200px;
            background-size: 200px auto;
        }
    }
}
@media (max-width: 1024px){
    .works{
        .works-links{
            padding: 0 50px;
            a{
                margin: 5px;
            }
        }
    }
}
@media (max-width: 768px){
    .works{
        .works-links{
            display: flex;
        }
        .works-gallery{
            grid-template-columns: repeat(2, minmax(0, 258px));
            grid-template-rows: repeat(3, minmax(0, 256px));
        }
        .work-first-ellipse{    
            width: 100px;
            height: 100px;
            background-size: 100px auto;
        }
        .work-second-ellipse{
            width: 100px;
            height: 100px;
            background-size: 100px auto;
        }
        .work-third-ellipse{
            width: 100px;
            height: 100px;
            background-size: 100px auto;    
        }
        .work-fourth-ellipse{
            width: 100px;
            height: 100px;
            background-size: 100px auto;
        }
    }
}
@media (max-width: 600px){
    .works{
        .works-gallery{
            grid-template-columns: repeat(2, minmax(0, 200px));
            grid-template-rows: repeat(3, minmax(0, 197px));
        }
    }
}
@media (max-width: 480px){
    .works{
        .works-links{
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
        }
        .works-gallery{
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            .balloon{
                max-width: 200px;
            }
            .roof{
                max-width: 200px;     
            } 
            .case{
                max-width: 200px;    
            } 
            .cube{
                max-width: 200px;
                height: 205px;
                img{
                    height: 205px; 
                } 
            } 
        }
        .work-first-ellipse{
            display: none;    
        }
        .work-fourth-ellipse{
            left: 60%;    
        }
    }
}